@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Associacao Atletica Academica Thiago Dufrayer</h1>
    <p class="lead">ECONOMIA UFF - Bi-Campea dos Jogos Financeiros (2016 & 2018)</p>
    <p><a href="https://athleticseconomics-uff.azurewebsites.net" class="btn btn-primary btn-lg">Click to know more about us &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Know more about us</h2>
        <p>Fundada em 2012 por alunos da Economia UFF, a expansao astronomica da nossa atletica se deu por um intenso trabalho de sua diretoria e atletas
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/AtleticaEconomiaUFF/">Visit our facebook page &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>SuperCopa is on the way!</h2>
        <p>The best price for Jogos PACKAGE! Let's win this s#$%!</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/events/1112563558906382/">Buy your package right now! &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Awards, Trophies and Tsunami!!</h2>
        <p>Stay tuned in our awards, trophies won so far and our fabulous BATERIA!</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/atleticaecouff/"> Visit our instagram &raquo;</a></p>
        
    </div>
</div>