@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Academic Athletics Association Thiago Dufrayer</h1>
    <p class="lead">Biggest Champion of Financial Games</p>
    <p><a href="https://athleticseconomics-uff.azurewebsites.net" class="btn btn-primary btn-lg">Click to know more about us &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Economics UFF</h2>
        <p>
            Founded in 2012 by students of the Federal University of Economics, the astronomical expansion of our athletics was due to an intense work of its board and athletes
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/AtleticaEconomiaUFF/">Visit our facebook page &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>SuperCopa is on the way!</h2>
        <p>The best price for our Games PACKAGE! Let's win this s#$%!</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/events/1112563558906382/">Buy your package right now! &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Awards, Trophies and Tsunami!!</h2>
        <p>Stay tuned in our awards, trophies won so far and our fabulous BATERIA!</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/atleticaecouff/"> Visit our instagram &raquo;</a></p>
        
    </div>
</div>