body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    color: #0f79a9;
    /*#0f79a9 blue*/
    /*#ffbe0f yellow*/
}

.jumbotron {
    background-image: url(atletica.png);
    background-size: cover;
    color: #ffbe0f;
    padding-bottom: 200px;
    padding-right: 290px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-brand {
    color: #ffbe0f;
}

.navbar-inverse {
    background-color: #0f79a9;
}

.navbar-nav > li > a {
    color: #ffbe0f !important;
}

    .navbar-nav > li > a:hover {
        color: whitesmoke !important;
    }

.title {
    color: #ffbe0f !important;
}

.title:hover {
        color: whitesmoke !important;
    }

