body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    color: #0f79a9;
    /*#0f79a9 blue*/
    /*#ffbe0f yellow*/
}

.jumbotron {
    background-image: url(vemser.png);
    background-size:cover;
    color:black;
    padding-bottom:40px;
}

.navbar navbar-inverse navbar-fixed-top {
    background-color: #0f79a9;
    color: #ffbe0f;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    background-color: #0f79a9;
    color: #ffbe0f;

}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
